<div class="main about-main">
  <div class="container">
    <h2 class="about-title">Hello Idea!とは</h2>
    <p>SNSサービスです。</p>
    <p>悩みやアイデアを投稿し、他のユーザーと交流できます。</p>
    <div class="about-img">
      <img src="/qp.jpg" class="qp-img">
    </div>
  </div>

</div>
